
.main{
  overflow-x: hidden;
}

.Navbar{
  width: 100vw;
  height:5rem;
  background-color: rgb(252, 161, 123);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  border-radius: 100%;
}

.flexing{
  display: flex;
  align-items: center;
}

.Searchinginput{
  padding:10px;
  border-radius: 6px;
  border:none;
  margin-right: 1rem;
  width:25vw;
}

.margining{
  margin-left: 1rem;
  margin-right: 1rem;
}

.cursor{
  cursor:pointer;
}

.Heading{
  text-align: center;
}

.Box{
  display: flex;
  justify-content: center;
}

.MainBox{
  width: 80vw;
  height:30rem;
  background-color: rgb(252, 161, 123);
  border-radius: 6px;
display: flex;
justify-content: space-around;
align-items: center;
}

.Imageboxtext{
  width:35vw;
  height:25rem;
  background-color: white;
  border-radius: 6px;
  display: grid;
  justify-content: space-around;
  padding-top: 2rem;
}

.Footer{
  background-color:black;
  color:white;
  width:100vw;
  height:15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

